body {
  margin: 0px;
}

.top-container {
  background-color: #94b5c0;
}

.middle-container {
  height: 200px;
  width: 200px;
  background-color: red;
}
.bottom-container {
  height: 200px;
  width: 200px;
  background-color: blue;
}

h1 {
  margin-block-start: 0ch;
  margin-block-end: 0px;
}
